/* Header.css */
header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background-color: white;
    padding: 10px 20px;
    text-align: right;
  }
  
  h1 {
    color: black;
    margin: 0;
    font-size: 1.35rem;
  }
  